# ignore RDF4J and Apache programs
rdf4j/programs/apache-tomcat-*
rdf4j/programs/eclipse-rdf4j-*

# Backend ignores
backend/sessions/
backend/**/old/
backend/views/
*.key
*.key.pub

# Mongo ignores
**/mongoData/
mongo/*.out

# Frontend ignores
**/node_modules/

# temporary ignores
rdf4j/edgar_wisdom.txt
rdf4j/rdf_save_state/
